body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1A2421; /* Blue background */
    color: #fff; /* White text */
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

h1, h2 {
    color: #98FB98;
}

p {
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 600px) {
    .container {
        padding: 0 10px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
}
